body {
  font-family: 'Poiret One', cursive;
  background: url(../assets/background.jpg);
  background-size: cover;
}

h1 {
  /*font-weight: 600;*/
  font-size: 40px;
}

h1 small {
    /*font-weight: 600;*/
}

.nav {
  font-size: 20px;
}

.element {
  margin-left: 1%;
  border-radius: 20px;
  padding: 5px;
}

.list-group {
  border: none;
  padding-bottom: 100px;
}

#effect {
  font-size: 25px;
  margin-right:2%；
}

.list-group-item {
  border:none;
  background-color: rgba(255, 255, 255, 0.65);
}

@media screen and (max-width: 767px) {

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header .main{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .main h1{
        font-size: 42px;
    }
}
