body {
  font-family: 'Poiret One', cursive;
  background: url(../assets/background.jpg);
  background-size: cover;
}

.nav {
  font-size: 20px;
}


#mainbody {
  height: 100%;
  position: relative;
   display: block;


}

.btn-default {
  border: none;
  background-color: transparent;
}

.btn-default:hover{
  color: red;
  background-color: transparent;
}

.glyphicon:hover{
  color: red;
}

.body {
  position: relative;
}

#shoulder {
  position: absolute;
  top: 22.5%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#shoulder:hover #shoulder_pain {
    display:block;
    position: absolute;
}

#head {
  position: absolute;
  top: 11%;
  left: 48.9%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#head:hover #headache {
    display:block;
    position: absolute;
}

#mouth {
  position: absolute;
  top: 18%;
  left: 48.9%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#mouth:hover #mouth_pain {
    display:block;
    position: absolute;
}
#stomach {
  position: absolute;
  top: 38%;
  left: 48.9%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#stomach:hover #stomach_pain {
    display:block;
    position: absolute;
}
#chest {
  position: absolute;
  top: 26%;
  left: 47.9%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#chest:hover #chest_pain {
    display:block;
    position: absolute;
}
#knee {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#knee:hover #knee_pain {
    display:block;
    position: absolute;
}
#feet {
  position: absolute;
  top: 95%;
  left: 48%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#feet:hover #sore_feet {
    display:block;
    position: absolute;
}
#hand {
  position: absolute;
  top: 55%;
  left: 51.8%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  -webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#hand:hover #hand_pain {
    display:block;
    position: absolute;
}

#shoulder_pain{
  display: none;
}

.sympton {
  size:30px;
  color:grey;
  display: none;
}

@media screen and (max-width: 767px) {

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header .main{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .main h1{
        font-size: 42px;
    }
}
