body {
  font-family: 'Poiret One', cursive;
  background: url(../assets/background.jpg);
  background-size: cover;
}

.nav {
  font-size: 20px;
}

.input-group {
  padding-bottom: 2%;
}

.input-group-addon {
  font-size: 22px;
}

.form-control {
  font-size: 22px;
  height: 40px
}

.btn {
  font-size: 17px;
}

@media screen and (max-width: 767px) {

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header .main{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .main h1{
        font-size: 42px;
    }
}
